<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Luke Helg</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" >
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,700' rel='stylesheet' type='text/css'>
    <link  href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/2.0/animate.min.css" rel="stylesheet">
    


    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/component.css">

    <!-- endbuild -->
  </head>
  <body ng-app="portfolioApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="ng-binding" id="topbar" ng-controller="Ctrl">
        <div class="col-sm-4 left" id="small-lang-buttons">
        <!-- <i ng-class="langSelected: selected" class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-google-plus"></i>  -->
        <a ng-click="switchEnglish()" ng-class="{active: isEN}">EN</a> 
        <a ng-click="switchJapanese()" ng-class="{active: isJP}">JP</a>   
        </div>

        <div class="col-sm-4 middle"><a ng-href="#"><span id="logo">HERUGU</span></a></div>
        
        <div class="col-sm-4 right" id="navigation"  ng-controller="HeaderCtrl">
            <a class="link"  ng-class="{active : isActive('/')}" class="underline-link" ng-href="#">HOME</a>
            <a  ng-class="{active : isActive('/about')}" class="underline-link" ng-href="#/about">ABOUT</a>
            <a  ng-class="{active : isActive('/contact')}" class="underline-link" ng-href="#/contact">CONTACT</a>
        </div>       
    </nav>

    <div ng-view="" class="view" autoscroll="true"></div>

    <!-- <footer id="footer">
      <p>Website by <a href="http://luke-helg.sakura.ne.jp">10chars</a></p>
      Copyright 2014 &#169    
    </footer> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/controller.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/services/services.js"></script>
        <script src="scripts/directives/custom-directives.js"></script>
        <script src="scripts/assets/jquery.visible.min.js"></script>


        <!-- endbuild -->

</body>
</html>
