<section dynpad ng-style="{'padding-top':dynamic}" class="single-page-header" id="about-header">
    <div class="page-title">About Me</div>
</section>

<div class="page-content" id="about-content" data-ng-repeat="value in about">
<div class="container">	
<div class="col-md-6 animated-text" id="my-info">
	<p>{{value.intro}}</p>
</div>
<div class="col-md-6" id="my-picture">
	<i class="fa fa-twitter"></i>
</div>
</div><!-- /info-container -->
<section class="container" id="steps">
        <div class="row" id="steps-images">
        
        <div class="col-md-4">
            <h2>Responsive</h2>
            <div class="step-icon"><i class="fa fa-mobile"></i><i class="fa fa-laptop"></i></div>
            <p　class="explanation">{{value.responsive}}</p>
        </div>
        
        <div class="col-md-4">
            <h2>SEO Friendly</h2>
            <div class="step-icon"><i class="fa fa-check-square-o"></i></div>
            <p　class="explanation">{{value.seo}}</p>
        </div>
        
        <div class="col-md-4">
            <h2>UX Optimized</h2>
            <div class="step-icon"><i class="fa fa-lock"></i></div>
            <p　class="explanation">{{value.ux}}</p>
        </div>
        
        </div>  
</section>
</div><!-- page-wrapper -->
<footer id="footer">
      <p>Website by <a href="http://luke-helg.sakura.ne.jp">10chars</a></p>
      Copyright 2014 &#169    
</footer>

