<section dynpad ng-style="{'padding-top':dynamic}" class="single-page-header" id="contact-header">
    <div class="page-title">Contact Me</div>
</section>
<div class="page-content" id="contact-content">
<div class="container">   
    <form ng-repeat="string in contactStrings" ng-submit="submit(contactform)" name="contactform" method="post" action="" id="contactForm" class="form-horizontal" role="form">
        <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
            <!-- <label for="inputName" class="col-md-4 control-label">{{string.name}}</label> -->
                <div class="col-md-6 col-md-offset-3">
                    <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="{{string.name}}" required>
                </div>
        </div>
        <!-- email -->
        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
            <!-- <label for="inputEmail" class="col-md-4 control-label">{{string.email}}</label> -->
                <div class="col-md-6 col-md-offset-3">
                    <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="{{string.email}}" required>
                </div>
        </div>
        <!-- Subject -->
        <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
            <!-- <label for="inputSubject" class="col-md-4 control-label">{{string.subject}}</label> -->
                <div class="col-md-6 col-md-offset-3">
                    <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="{{string.subjectPlaceholder}}" required>
                </div>
        </div>
        <!-- Message -->
        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
            <!-- <label for="inputMessage" class="col-md-4 control-label">{{string.message}}</label> -->
                <div class="col-md-6 col-md-offset-3">
                    <textarea ng-model="formData.inputMessage" class="form-control" rows="6" id="inputMessage" name="inputMessage" placeholder="{{string.message}}" required></textarea>
                </div>
        </div>
        <!-- submit -->
        <div class="form-group">
            <div class="col-md-12 submit-wrapper">
                <button type="submit" class="btn-round" ng-disabled="submitButtonDisabled">{{string.send}}</button>
            </div>
        </div>
    </form>
    <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>

</div> <!-- /container -->
</div> <!-- /form-wrapper -->
<footer id="footer">
      <p>Website by <a href="http://luke-helg.sakura.ne.jp">10chars</a></p>
      Copyright 2014 &#169    
</footer>
