<section dynpad ng-style="{'padding-top':dynamic}" class="single-page-header" id="home-header" data-ng-repeat="value in information">
    <div ng-class="{jp : isJP}" class="page-title"><span>{{value.greeting}}</span>{{value.name}}<p id="cursor">|</p></div>
    <p ng-class="{jp : isJP}" class="tagline animated-text">
        Web Developer {{trait}}
    </p>  
        <div class="language-option-container">
            <div class="language-wrapper" ng-class="{hide:langSet}">
            <div class="language-text">Select language</div>
            <div class="button-wrapper">
            <div ng-click="switchEnglish()" class="btn-lang">EN</div>
            <div ng-click="switchJapanese()" class="btn-lang">JP</div>
            </div>
            </div>          
            <div class="portfolio-link-wrapper animated-text" ng-class="{hide:!langSet}">
                <a id="top" du-smooth-scroll href="#anchor" duration="1000">
                  <p class="dots">......</p>
                  <p class="portfolio-string" ng-class="{jp : isJP}">{{portfolioString}}</p>
                  <i class="fa fa-angle-down"></i>
                </a>
            </div>  
        </div>
</section>
<div resizable class="animated-text triangle-down" ng-class="{angle:langSet}" ng-style="{'border-width':windowWidth}"></div>

<a du-smooth-scroll id="anchor" href="#top"></a>
<div class="welcome-wrapper animated-text">
    <div class="page-title">Portfolio</div>    
    <h2 ng-class="{jp: isJP}">{{welcome}}</h2>
</div>

<div class="homepage-portfolio-wrapper cbp-so-scroller" id="cbp-so-scroller">

    <section class="single-website row cbp-so-section" data-ng-repeat="website in sites">
        <article class="col-md-6 website-list-left cbp-so-side cbp-so-side-left">
        <h1 class="portfolio-title"><a href="#/portfolio/{{website.id}}">{{website.title}}</h1></a>
        <h2 class="portfolio-title" ng-class="{jp: isJP}">{{website.sub}}</h2>
        <a href="#/portfolio/{{website.id}}"><div class="btn-round">DETAILS</div></a>
        </article>
        <figure class="col-md-6 website-list-right cbp-so-side cbp-so-side-right">
         <img class="img img-responsive" ng-src="/images/{{website.large}}" alt="">   
        </figure>
    </section>    
</div>

<footer id="footer">
      <p>Website by <a href="http://luke-helg.sakura.ne.jp">10chars</a></p>
      Copyright 2014 &#169    
</footer>

<script>
$(document).scroll(function(){                                                    
    $('#cbp-so-scroller section').each(function(){                        
       if($(this).visible(true)){ 
            $(this).addClass('cbp-so-animate'); 
            $(this).removeClass('cbp-so-init'); 
        }else {
            $(this).removeClass('cbp-so-animate'); 
            $(this).addClass('cbp-so-init');           
        }
    });
});
</script>

<script>
    $(document).ready(function(){
     setInterval (function(){
      $('#cursor').animate({
        opacity: 0
    }, 'fast', 'swing').animate({
        opacity: 1
    }, 'fast', 'swing');
    },600);
    });

</script>

 



