<div class="portfolio-wrapper">
<div class="container">	
<div class="col-md-6">
<h1 class="portfolio-title">{{currentSite.title}}</h1>
<h2 class="portfolio-category">{{currentSite.sub}}</h2>
<p class="portfolio-info">{{currentSite.info}}</p>
<p class="portfolio-tags">{{currentSite.tags}}</p>
<div class="portfolio-buttons">
<a ng-href="{{currentSite.url}}"><div class="btn-round">VISIT WEBSITE</div></a><a href="#"><div class="btn-round">BACK</div></a>
</div>
</div>
<div class="col-md-6">
	<img class="img img-responsive" ng-src="/images/{{currentSite.large}}" alt="">
</div>
</div>
</div>
<footer id="footer">
      <p>Website by <a href="http://luke-helg.sakura.ne.jp">10chars</a></p>
      Copyright 2014 &#169    
</footer>

