
body {
  font-family: 'Raleway';
  height: 100%;
  font-size: 100%;
}
html{
  height:100%;
  font-size: 100%
}

.view{
  height: 100%;
}

.active{
  color: black;
}

.hide{
  display: none;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.single-page-header{
  padding-bottom: 80px;
  text-align: center;
  .page-title{
    font-size: 3.5em;
    font-weight: 200;
    color: white;
  }
}

/**
*
* HOME PAGE STYLES
*
**/
#home-header{
  background: #fff200;
  height: 100%;
  #cursor{
    display: inline;
  }
  .page-title{
    color: black;
    font-weight: 200;
  }
  
  .tagline{
        padding-top: 40px;
        font-size: 1.6em;
        color:#000;
    }

.language-option-container{
 
  .language-wrapper{
    padding: 30px 0px;
    .language-text{
    font-size: 1em;
    padding-bottom: 40px;
    
    }
  }


  .portfolio-link-wrapper{
      text-align: center;
      padding-top: 30px;

        a{
          color: black;
          text-decoration: none;
        }

        .dots{
          font-weight: bold;
          font-size: 2em;
        }
   
      .fa-angle-down{
        display: inline-block;
        font-size: 5em;
        -webkit-transition: all 0.3s ease-out;  
        -moz-transition: all 0.3s ease-out;  
        -o-transition: all 0.3s ease-out;  
        transition: all 0.3s ease-out;  

          &:hover{
            -webkit-transform: translateY(5px);
            -moz-transform: translateY(5px);
            -o-transform: translateY(5px);
            transform: translateY(5px);
          }
      }               
      .portfolio-string{
        font-size: 2em;
        padding-top: 15px;
        &.jp{
          font-size: 1.5em;
    
        }
      }
    
    }
  }
}

.triangle-down {
    width: 100%;
    padding-left:0;
    padding-top: 0;
    overflow: hidden;
    background-color: #fff;
}

.angle{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin: 0px;
    border-color: transparent;
    border-style: solid;
    border-top: 100px solid #fff200 !important;
    border-bottom: none;
}

.welcome-wrapper{
  color: darkgray;
  padding: 100px;
  text-align: center;
   .page-title{
    font-size: 3.5em;
  }
}

.homepage-portfolio-wrapper{
  background-color: #52BBFF;
}

.single-website{
  padding: 50px 80px;

  a{
    color: white;
    text-decoration: none;
  }

}

/**
*
* ABOUT PAGE STYLES
*
**/

#about-header{
  background-color: #9A12B3;
}

#about-content{
  background-color: #9A12B3;
  color: white;
}

#my-picture{
    font-size: 10em;
    text-align: center;
}

#steps{

    padding: 60px 0px 150px 0px;
    text-align: center;
    
    .step{
        height: 200px;
        margin: auto;
    }

    .explanation{
        padding: 10px 50px;
    }

    .step-icon{
        margin: 30px auto;
        .fa{
            font-size: 8em;
        }

        .fa-cloud-upload{

        }

        .fa-check-square-o{

        }

        .fa-child{

        }
    }

}

#steps-images{
    margin-top: 50px;
}

/**
*
* CONTACT PAGE STYLES
*
**/

#contact-header{
  background-color: #2C3E50;
}

#contact-content{
  background-color: #2C3E50;
}


/**
*
* SINGLE PORTFOLIO PAGE
*
**/
.portfolio-wrapper{
  padding: 100px 0px;
  background-color: #16A085;
  color: white;
}

.portfolio-title{

}

.portfolio-category{


}

.portfolio-info{

}

.portfolio-tags{
  font-weight: 700;
  font-size: 1.3em;
}

.company-name{
    font-weight: 200;
    size:5em;
    letter-spacing: -2px;
    margin-bottom: 50px;
}


.form-control-feedback{
  line-height: 50px;
}

.form-control{
  height: 50px;
  font-size: 1.5em;
  line-height: 1.2em;
}

/**
*
* NAVIGATION 
*
**/

#topbar{
  text-align: center;
  background-color: white;
  margin: 0px 25px;
  height: 80px;
  padding-top: 25px;

      .left{
        text-align: left;
        .fa{
          color: darkgray;
          margin-right: 10px;
        }
      }

      .middle{
        font-size: 1.8em;
      }

      .right{
        text-align: right;
        color: darkgray;
        i {
          cursor: pointer;
        }

        .fa{
          padding-left: 15px;
        }

      }

      #small-lang-buttons{
      a{
        color: darkgray;
        text-decoration: line-through;
        cursor: pointer;
        font-size: 1.2em;
        -webkit-transition: all 0.3s ease-out;  
        -moz-transition: all 0.3s ease-out;  
        -o-transition: all 0.3s ease-out;  
        transition: all 0.3s ease-out;
      }

      .active{
        text-decoration: none;

        &:hover{
          color: darkgray;
          cursor: default;
          
        }
      }

      a:hover{
        color: #333;
        text-decoration: none;
      }

      }
      .middle{
        a{
          color: #333;
          text-decoration: none;
          
        }
      }

      #navigation{

        a {
          position: relative;
          display: inline;
          color: darkgray;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2em;
          margin: 0px 5px;
          -webkit-transition: color 0.3s;
          -moz-transition: color 0.3s;
          transition: color 0.3s;
        
          .active{
            border-bottom: 1px solid blue;
          }
        }

        a::before {
          position: absolute;
          top: 100%;
          left: 50%;
          color: transparent;
          content: '•';
          text-shadow: 0 0 transparent;
          font-size: 1em;
          -webkit-transition: text-shadow 0.3s, color 0.3s;
          -moz-transition: text-shadow 0.3s, color 0.3s;
          transition: text-shadow 0.3s, color 0.3s;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          pointer-events: none;
        }

        a:hover::before,
        a:focus::before, a.active::before {
          color: #333;
          text-shadow: 10px 0 #333, -10px 0 #333;
        }

        a:hover, a:focus, a.active {
          color: #333;
        }      
  }
}

/**
*
* BUTTONS
*
**/

.btn-lang{
  padding: 10px 40px;
  font-size: 1.2em;
  color: black;
  display: inline-block;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 4em;
  &:hover{
    background-color: black;
    color:white;
    -webkit-transition: all 0.5s ease-out;  
    -moz-transition: all 0.5s ease-out;  
    -o-transition: all 0.5s ease-out;  
    transition: all 0.5s ease-out;
  }
}

.language-buttons{
  text-align: center;
}

.btn-round{
  font-size: 1.2em;
  color: white;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2.4em;
  text-align: center;
}

.portfolio-buttons{
  margin-top: 50px;
  text-align: center;
  .btn-round{
  width: 200px; 
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  }
}

.submit-wrapper{
text-align: center;
padding: 50px 0px;
.btn-round{
  background-color: #2C3E50;
  width: 180px;
  font-size: 1.5em;
}
}

.single-website{
  .btn-round{
    width: 180px;
    border-radius: 2.4em;
    text-align: center;
    margin-top: 50px;
  }
}

/**
*
* ANIMATIONS
*
**/

div[ng-view].ng-enter{

    -webkit-animation: fadeIn 0.1s;
    animation: fadeIn 0.1s;
     
}

div[ng-view].ng-leave{

    -webkit-animation: fadeOut 0.1s;
    animation: fadeOut 0.1s;
     
}

div .animated-text{
  &.ng-enter {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
  }
 
}
.animated-text{
    -webkit-animation: fadeInDown 0.5s;
    -moz-animation: fadeInDown 0.5s;
    -ms-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
  }



#footer{
    background-color: #E4F1FE;
    text-align: center;
    padding: 35px 0px;
}




/*FORM*/
.form-control{
border: 1px solid white;    
-webkit-box-shadow: none;
box-shadow: none; 

}



/*BV*/
.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

/*END BV*/

@media (max-width: 640px) {

.col-md-6{
  text-align: center;
}

.col-md-4{
  text-align: center;
}

#topbar{
.left{
 display: none;
}

.middle{
  font-size: 2em;
  display: none;
}

.right{
  text-align: center;
  font-size: 0.8em;
}


}

.single-page-header{
  padding: 50px 0px 50px 0px;
  text-align: center;
  .page-title{
    font-size: 2.3em;
    color: white;
  }
}

#home-header{

.tagline{
  font-size: 1.2em;
}
}
.single-website{
  padding:20px 15px;
  .cbp-so-side-left{
    text-align: center;
  }
  .btn-round{
    margin-right: auto;
    margin-left: auto;
  }
}

#home-header .language-option-container .portfolio-link-wrapper{
  .fa{
    font-size: 3em;
  }

  .portfolio-string{
    font-size: 1.5em;
  }
}

.welcome-wrapper{
  padding: 50px 15px;
}

.portfolio-buttons{
  margin-top: 25px;
  margin-bottom: 50px;
  .btn-round{
    margin-top: 25px;
  }
}

}

@media (min-width: 1200px){
  .container{
    width: 80%;
  }
}


